.main-body{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.card-body{
    margin: 0 100px;
}
@media screen and (max-width: 480px){
    .main-body{
        display: block;
    }
}
@media screen and (max-width: 480px){
    .cards{
        display: block;
    }
}