.main-page{
    margin-right: 20px;
    text-align: center;
    background-color: burlywood;
    border-radius: 5px;
    padding: 20px;
  }
  .page{
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  
  .profile{
    display: flex;
  }
  .profile img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  .button button{
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(77, 151, 77);
    font-size: 12px;
    font-weight: bold;
  }