.main-page{
    margin: 70px;
  }
  .page{
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  .main-list{
    padding: 20px;
    background-color: burlywood;
  }
  .profile{
    display: flex;
  }
  .profile img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }